{% extends 'base.html' %}
{% load widget_tweaks %}
{% comment "template_location" %}
    'accounts/Accounting/Addfeescollection.html'
{% endcomment %}
{% block body %}
<div class="container" style="margin-left: 200px;font-size: 20px; padding: 0px 10px;">
<h4>Manage Invoice</h4>
<nav class="nav navbar-expand" style="font-size:15px; padding: 1px 1px 1px 1px">
  <i style="font-size: 15px; color:red;">Quick Links</i>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
    <a class="nav-link" href="{% url 'viewdiscount'  %}">Discount</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="{% url 'viewfeetype'  %}">FeeType</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="{% url 'viewfeecollection'  %}">FeeCollection</a>
    </li>
    <li class="nav-item">
    <a class="nav-link"href="{% url 'viewfeecollection'  %}">ManageInvoice</a>
    </li>
    <li class="nav-item">
    <a class="nav-link"href="#">DueFee</a>
    </li>

    <li class="nav-item">
    <a class="nav-link" href="{% url 'viewincome'  %}">Income</a>
    </li>
    <li class="nav-item">
    <a class="nav-link"<a href="{% url 'viewexpenditure'  %}">Expenditure</a>
    </li>
  </ul>
</nav>
<hr style=" margin-top: 1rem;margin-bottom: 1rem;border: 0;
 border-top: 1px solid rgba(0, 0, 0, 0.1);"/>
<nav class="nav navbar-expand" style="float:left">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'viewfeecollection' %}"><button class="btn btn-success">Invoice List</button></a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="#"><button class="btn btn-default">Create Invoice</button></a>
    </li>
  </ul>
</nav>
<br><br>
{% load crispy_forms_tags %}
<div class="col-lg-4" style="float:left">
<p>Enter Details</p>

  <div class="x_content">
    {% load crispy_forms_tags %}
    <form class='my-ajax-form' method='POST' action='.' data-url='{{ request.build_absolute_uri|safe }}'>
       {% csrf_token %}
       {{form.as_p|safe}}
       <button type='submit'>Submit</button>
   </form>
</div>
</div>
</div>
{% endblock %}

{% block js %}
<script>
$(document).ready(function(){
  var $myForm = $('.my-ajax-form')
  $myForm.submit(function(event){
      event.preventDefault()
      var $formData = $(this).serialize()
      var $thisURL = $myForm.attr('data-url') || window.location.href // or set your own url
      $.ajax({
          method: "POST",
          url: $thisURL,
          data: $formData,
          success: handleFormSuccess,
          error: handleFormError,
      })
  })

  function handleFormSuccess(data, textStatus, jqXHR){
      console.log(data)
      console.log(textStatus)
      console.log(jqXHR)
      $myForm.reset(); // reset form data
  }

  function handleFormError(jqXHR, textStatus, errorThrown){
      console.log(jqXHR)
      console.log(textStatus)
      console.log(errorThrown)
  }
})
</script>
{% endblock js %}
